@media(max-width:768px){

    header{
        padding: 5px;
        margin: 0;
        width: 740px;
    }

    .container{
        width: 740px;
    }

    .flex{
        margin: 0;
    }

    main{
        max-width: 740px;
    }

    .list{
        margin-left: 0;
    }

    .list-item{
        margin: 0;
    }

    .sec1{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .left-detail{
        width: 650px;
        text-align: center;
        padding: 50px;
    }

    .highlight{
        margin-left: 155px;
    }

    .rightImage{
        width: 100%;
    }

    main{
        padding: 0;
        margin: 0;
    }

    .presentation{
        width: 680px;
        height: 450px;
        margin-left: 0;
        padding: 0;
    }

    .m-left{
        margin: 0;
    }

    img{
        margin-left: 0;
    }

    .dots{
        position: relative;
        z-index: -3;
        bottom: 88px;
        left: 595px;
        fill: #5614db4a;
        height:120px !important;
    }

    .detail{
        padding: 20px;
    }

    .buttons{
        
    }

    .video{
        width: 680px;
        height: 450px;
    }

    .sec2{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .image2{
        margin-left: 150px;
        width: 65%;
        height: 65%;
    }

    .dots-2{
        position: relative;
        z-index: -3;
        bottom: -49px;
        left: -293px;
        fill: #5614db4a;
    }

    .detail2{
        margin-top: 80px;
        text-align: center;
    }


    .detail22{
        width: 70%;
        margin-left: 100px;
    }

    #addYear{
        margin-left: 60px;
    }

    .since{
        margin-left: 46px;
        scale: 1.4;
    }

    .title2{
        margin-left: 42px;
    }

    .title22{
        margin-left: 280px;
    }

    .sec3{
        margin-top: 120px;
    }

    .title3{
        margin-bottom: 15px;
        scale: 1.2;
    }

    .hight{
        margin-left: 35px;
    }

    .allSketches{
        display: flex;
        flex-direction: column;
    }

    .sketch{
        width: 250px;

    }

    .beforeMore{
        width: 250px;
    }


    .sec4{
        width: 768px;
        display: flex;
        flex-direction: column-reverse;
    }

    .reputation{
        text-align: center;
        margin-left: -10px;
        margin-top: 30px;

    }

    .pq{
        margin-left: 298px;
    }

    .us{
        margin-left: 246px;
    }

    .repuDetail{
        width: 498px;
        text-align: center;
        margin-left: 114px;
    }

    .image4{
        width: 560px;
        height: 370px;
    }

    .show{
        margin-left: 186px;
        font-size: 25px;
    }

    .number{
        margin: 15px;
    }

    .violet{
        scale: 1.2;
    }

    .alea{
        margin-left: 256px;
    }

    .dots3{
        position: relative;
        z-index: -3;
        bottom: -441px;
        fill: #5614db4a;
        right: 5px;
        height: 144px;
    }

    footer{
        width: 768px;
    }


    .footer1{
        width: 730px;
        display: flex;
        flex-wrap:wrap;
    }

    .footerList{
        padding: 15px;
        flex-wrap: wrap;
    }

    .newsletter{
        margin: auto;
        text-align: center;
    }


    hr{
        width: 700px;
    }

    .footer2{
        display: flex;
        flex-direction: column;
        width: 768px;
    }

    .copyright{
        padding: 20px;
    }
}