@media(max-width:768px){
    *{
        max-width: 768px;
        

    }

    header{
        padding: 10px;
    }

    .list{
        margin-left: 0;
    }

    .list-item{
        margin: 0;
    }

    .sec1{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .left-detail{
        text-align: center;
        padding: 50px;
    }

    .highlight{
        margin-left: 155px;
    }

    .rightImage{
        width: 100%;
    }

    main{
        padding: 0;
    }

    .presentation{
        width: 680px;
        height: 450px;
        margin-left: 0;
        padding: 0;
    }

    .m-left{
        margin: 0;
    }

    img{
        margin-left: 0;
    }

    .dots{
        position: relative;
        z-index: -3;
        bottom: 88px;
        left: 595px;
        fill: #5614db4a;
        height:120px !important;
    }

    .detail{
        padding: 20px;
    }

    .buttons{
        scale: 1.3;
        margin-left: 10px;
    }

    .video{
        width: 680px;
        height: 450px;
    }

    .sec2{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .image2{
        margin-left: 150px;
        width: 65%;
        height: 65%;
    }

    .dots-2{
        position: relative;
        z-index: -3;
        bottom: -49px;
        left: -290px;
        fill: #5614db4a;
    }
}