*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
}

.container{
    width: 1100px;
    margin: auto;
}


.headerTitle{
    font-family: 'Inter@500', sans-serif;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #3f526d;
}

.headerTitle:hover{
    color: #6415ff;
}

.logo{
    width: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    margin-left:140px;
}

.list-item{
    list-style: none;
    margin-left: 40px;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;

}

.list-item:hover{
    color: #6415ff;
    border-bottom: #6415ff solid;
    
}

.logs{
    margin-left: 20px;
}

.signIn{
    background-color: #6415ff;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 11px;

}


main{
    padding: 50px;
    width: 1000px;
    margin: auto;
}

h1{
    color: #3f526d;
    font-family: 'Inter@800', sans-serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -1px;
    margin: 0;
}

.presentation{
    /* position: absolute; */
    height: 290px;
    width: 450px;
    border-radius: 30px;

}

.highlight{
    background-color: #6415ff;
    color: white;
    font-weight: 800;
    font-style: italic();
    font-size: 35px;    
    letter-spacing: -1px;
    margin: 0;
    transform: skew(-8deg);
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;

}

.detail{
    font-weight: 500;
    font-size: 13px;
    color: #718096;
    line-height: 20px;
}

.left-detail{
    margin-top: -100px;
}

.btn-style{
    background-color: #6415ff;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.btn-style:hover{
    background-color:#5614db;
}

.buttons{
    margin-left: -40px;
}

.chef-button{
    align-items: center;
    margin: 0;
}

.chief{
    border: none;
    margin: 0;
    color:#3f526d;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    background-color: white;
    margin-top: 8px;
}

.play{
    color:#3f526d;
    margin-right: 5px;
    padding: 0;
}

.chef-button >.chief:hover{
    color: #5614db;
    font-weight: bold;

}

.play:hover{
    color: #5614db;
}

.since{
    color:#6415ff;
    margin: 0;
}

.dots{
    position: relative;
    z-index: -3;
    bottom: 72px;
    left: 430px;
    fill: #5614db4a;
}

.dots-2{
    position: relative;
    z-index: -3;
    bottom: 55px;
    left: 175px;
    fill: #5614db4a;
}

.dots3{
    position: relative;
    z-index: -3;
    bottom: -140px;
    fill: #5614db4a;
    right: 250px;

}

.m-left{
    margin-left: 50px;
}

.green{
    color: green;
}
/* not working */

.sec2{
    margin-top: 50px;
    align-items: flex-start;
}

.sec3{
    padding: 20px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}


.title3{
    margin-left: 10px;
}

.allSketches{
    justify-content: space-between;
    align-items: center;
}

.sketch{
    margin-top: 50px;
    justify-content: center;
    text-align: center; 
    font-weight: bold;
    color:  #718096;
    width: 30%;   
    
}

.sketch:hover{
    transform: scale(1.2);
}

.itemTitle{
    color:#3f526d;
    font-family: 'Inter@800', sans-serif;
    font-weight: 800;
}

.round{
    background-color: rgb(249, 247, 247);
    border-radius: 50%;
    width: 70px;
}

.icon{
    height: 13px;
    width: 25px;
    fill: #5614db;
}

.beforeMore{
    font-size: small;
}

.more{
    color: #5614db;
    font-weight: bolder;
    text-decoration: none;
    font-size: 13px;
}

.show{
    justify-content: flex-start;
}

.sec4{
    margin-top: 90px;
    margin-bottom: 90px;
}

.violet{
    color: #6415ff;
    font-weight: bold;
    font-size: 12px;
    margin-top: 6px;
}

.number{
    font-weight: bold;
    margin: 0;
}

.sells{
    margin-right: 20px;
}


footer{
    padding-top: 50px;
    background-color: #f3f6fa;
}

.footer1{
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footerList{
    padding: 0;
}

.footerTitle{
    padding: 0;
    color: #3f526d;
    font-size: 15px;
    font-family: 'Inter@800', sans-serif;
    font-weight: 800;
    margin-left: 10px;

}

.footer-item{
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    color: #3f526d;
    line-height: 35px;
    width: fit-content;
}

.footer-item:hover{
    border-bottom:2px solid #6415ff;
}

hr{
    width: 1100px;
    border: 1px solid #b9bbbe;
}

.copyright{
    color: #b9bbbe;
    margin-left: 190px;
    margin-right: 190px;
    padding: 50px;
    font-size: small;
}

.social{
    height: 18px;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 8px;
    margin: 10px;
}

.para{
    font-size: 14px;
}

.footerSign{
    background-color: #6415ff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0;
}

.footerInput{
    margin: 0;
    padding: 10px;
    border: radius 10px;
    background-color: #e0e3e8;
    border: 1px solid #c9cbce;
}

.footerInput:hover{
    border: 2px solid #6415ff;
}






