body{
  font-family: 'Inter';
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.header{
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

ul{
  background-color: rgb(237, 235, 235);
  padding: 5px;
  border-radius: 5px;
}

ul > li{
  display: inline-block;
  padding: 10px;
}

ul li:hover{
  background-color: rgb(110, 43, 226);
}

ul li a{
  text-decoration: none;
  color: grey;
}

ul li:hover{
  text-decoration: none;
  color: rgb(237, 235, 235);
  background-color: rgb(110, 43, 226);
  margin-left: 5px;
  border-radius: 5px;
  padding: 8px;
}

a:hover{
  color: rgb(237, 235, 235);
}

.highlight{
  background-color: rgb(110, 43, 226);
  color: white;
  transform: skew(-8deg);
  margin-left: 10px;
  padding: 0 5px;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

.mealMenu{
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  background-color: #e8eaee;
  width: 235px;
  height: 350px;
  border-radius: 5px;
  position: relative;
}

article:hover{
  filter: opacity(80%);
}

article img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.mealTitle{
  padding: 15px;
}

.content{
  font-size: 11px;
  padding: 0 15px ;
  color: rgb(155, 152, 152);
}

.price{
  padding: 15px ;
}

.rating{
  font-weight: bold;
  font-size: 14px;
}

.review{
  color: rgb(154, 153, 153);
  font-size: 12px;
  font-weight: bold;

}

.grid > article > .star {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  align-items: center;
  display: inline-flex;
  padding: 5px 10px;
  border-radius: 30px;
  top: 50%;
}
.star svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  color: rgb(255, 213, 0);
}
.star span:last-child{
  margin-left: 5px;
}